<div class="userDetail">
	<br>
	<div class="user">
		<div class="col-xs-12">
			<span class="btn btn-default" ng-show="userDetail.edit" ng-click="userDetail.edit=false;">Cancel</span>
			<span class="btn btn-default" ng-hide="userDetail.edit" ng-click="userDetail.edit=true;">Edit</span>
			<span class="btn btn-default" ng-show="userDetail.edit" ng-click="saveUser()">Save</span>
			<div class="pull-right">ID: {{userDetail.user.id}}</div><br>
			<span class="check-console" ng-show="userDetail.checkConsoleMessage">Check console to see server reply</span>
			<br>
		</div>
		<div class="col-xs-12">
			<input class="detail" ng-model="userDetail.user.name" ng-disabled="!userDetail.edit" ng-class="{disabled: !userDetail.edit}">
			<input class="detail" ng-model="userDetail.user.username" ng-disabled="!userDetail.edit" ng-class="{disabled: !userDetail.edit}">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 user-section">
			<h3>Address:</h3>
			<div>{{userDetail.user.address.street}}</div>
			<div>{{userDetail.user.address.suite}}</div>
			<div>{{userDetail.user.address.zipcode}}</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 user-section">
			<h3>Location:</h3>
			<div>{{userDetail.user.address.geo.lat}}</div>
			<div>{{userDetail.user.address.geo.lng}}</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 user-section">
			<h3>Contact:</h3>
			<div>Email: {{userDetail.user.email}}</div>
			<div>Phone: {{userDetail.user.phone}}</div>
			<div>Website: {{userDetail.user.website}}</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 user-section">
			<h3>Company:</h3>
			<div>{{userDetail.user.company.name}}</div>
			<div>{{userDetail.user.company.catchPhrase}}</div>
			<div>{{userDetail.user.company.bs}}</div>
		</div>
	</div>
	<div class="posts col-xs-12">
		<h3>Posts</h3>
		<div class="post" ng-repeat="p in userDetail.posts"><span ui-sref="post({postId:p.id})">{{p.title}}</span></div>
	</div>


</div>
